div.bar {
    width: 100px;
    height: 25px;
    float: left;
    margin-left: 0px;
    position: static;
    background: white;
    transition-property: width, background;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition: width 3s, background 2s;
    z-index: 100;
}

.clear {
  clear: both;
  z-index: 100;
}

.turn {
  position: absolute;
  margin-top: 30px;
  top: 0px;
  margin-left: 500px;
  float: top;
  border-radius: 0%;
  top: 0px;
  margin-left: 600px;
  width: 200px;
  height: 200px;
  background: lime;
  transition: width 1s, height 2s, background 2s, transform 1.5s, border-radius 1.5s;
}

.turn:hover {
  width: 250px;
  height: 300px;
  background: yellow;
  border-radius: 50%;
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}

.continuous {
    position: absolute;
    margin-top: 10px;
    top: 0px;
    margin-left: 1000px;
    height: 200px;
    width: 400px;
    border: 1px solid #000;
    -webkit-animation: animate 3s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes animate {
    0%   {background:yellow;}
    33%  {background:green;}
    66% {background:blue;}
    100% {background:yellow;}
}

#border {
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    background-color: black;
    height: 225px;
    width: 400px;
    z-index: -1;
}

div.bar:hover {
    width: 300px;
    background: grey;
    transition-duration: .3s;
}

a {
  text-decoration: none;
  color: #23EADB;
  transition: font-size 1s, text-shadow 1s;
}
a:visited {

}

a:hover {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 18px grey;
}

* {
  font-family: Verdana;
}

#perspective1 {
    top: 200px;
    float: right;
    position: absolute;
    margin-top: 0px;
    height: 150px;
    width: 150px;
    margin: 50px;
    padding: 10px;
    border: 0px solid black;
    -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;
}

#perspective2 {
    top: 0px;
    float: right;
    margin-top: 50px;
    margin-left: 0px;
    padding: 50px;
    position: absolute;
    border: 1px solid black;
    background-color: blue;
    -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    transform: rotateX(0deg);
    transition-duration: 2.5s;
    transition-delay: 0s;
    -webkit-animation: mymove 2s infinite;
}
@-webkit-keyframes mymove {
    0% {background-color: blue; -webkit-transform: rotateX(0deg);}
    50% {background-color: red; -webkit-transform: rotateX(180deg);}
    100% {background-color: blue; -webkit-transform: rotateX(360deg);}
}

#pers1 {
    top: 200px;
    position: absolute;
    height: 150px;
    width: 150px;
    margin: 50px;
    padding: 10px;
    border: 0px solid black;
    -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 800px;
}

#pers2 {
    float: top;
    margin-top: 50px;
    margin-left: 500px;
    padding: 50px;
    position: absolute;
    border: 1px solid black;
    background-color: blue;
    -webkit-transform: rotateX(30deg); /* Chrome, Safari, Opera  */
    transform: rotateX(30deg);
    -webkit-transform: rotate3d(0deg, 0deg, 0deg, 0deg); /* Chrome, Safari, Opera  */
    transform: rotate3d(0deg, 0deg, 0deg, 0deg);
    transition-duration: 2.5s;
    transition-delay: 0.3s;
    -webkit-animation: mymove2 3s infinite alternate;
}

p {
    float: top;
    text-align: top;
    top: 0px;
    margin-top: 500px;
    position: absolute;
}

@-webkit-keyframes mymove2 {
    0% {background-color: red; -webkit-transform: rotate3d(0, 0, 0, 0deg);}
    50% {background-color: yellow; -webkit-transform: rotate3d(1, 1, 1, 360deg);}
    100% {background-color: red; -webkit-transform: rotate3d(0, 0, 0, 0deg);}
}
