div {
	border-radius: 5px;
}

ul {
		font-family: Verdana, sans-serif;
		list-style-type: square;
}

#myCanvas {
	margin-top: 200px;
	margin-left: 950px;
	position: absolute;
	border-width: 0px;
	border-style: solid;
	border-color: black;
}
/*#e8cc17*/
#triangle1 {
	position: absolute;
float: left;
margin-top: 300px;
margin-left: 340px;
font-size: 0px; line-height: 0%; width: 0px; height: 0px;
border-radius: 0%;
border-top: 30px solid #e8cc17;
border-bottom: 30px solid black;
border-right: 30px solid #e8cc17;
}
#triangle2 {
	position: absolute;
	float: left;
	margin-top: 270px;
	margin-left: 310px;
	font-size: 0px; line-height: 0%; width: 0px;
	border-radius: 0%;
	border-bottom: 30px solid #e8cc17;
	border-top: 30px solid black;
	border-right: 30px solid #e8cc17;
}
#triangle3 {
	position: absolute;
float: left;
margin-top: 270px;
margin-left: 250px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-top: 30px solid #e8cc17;
border-bottom: 30px solid black;
border-right: 30px solid #e8cc17;
}
#triangle4 {
	position: absolute;
float: left;
margin-top: 240px;
margin-left: 250px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-top: 30px solid #e8cc17;
border-bottom: 30px solid black;
border-left: 30px solid #e8cc17;
}
#triangle5 {
	position: absolute;
float: left;
margin-top: 270px;
margin-left: 280px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-bottom: 30px solid #e8cc17;
border-top: 30px solid black;
border-left: 30px solid #e8cc17;
}
#triangle6 {
position: absolute;
float: left;
margin-top: 300px;
margin-left: 280px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-bottom: 30px solid #e8cc17;
border-top: 30px solid black;
border-right: 30px solid #e8cc17;
}
#triangle7 {
position: absolute;
float: left;
margin-top: 300px;
margin-left: 310px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-bottom: 30px solid #e8cc17;
border-top: 30px solid black;
border-right: 30px solid #e8cc17;
}
#triangle8 {
position: absolute;
float: left;
margin-top: 270px;
margin-left: 340px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-top: 30px solid #e8cc17;
border-bottom: 30px solid black;
border-left: 30px solid #e8cc17;
}
#triangle9 {
position: absolute;
float: left;
margin-top: 330px;
margin-left: 250px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-bottom: 30px solid #e8cc17;
border-top: 30px solid black;
border-left: 30px solid #e8cc17;
}
#triangle10 {
position: absolute;
float: left;
margin-top: 240px;
margin-left: 340px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-top: 30px solid #e8cc17;
border-bottom: 30px solid black;
border-right: 30px solid #e8cc17;
}
#triangle11 {
position: absolute;
float: left;
margin-top: 330px;
margin-left: 310px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-bottom: 30px solid #e8cc17;
border-top: 30px solid black;
border-left: 30px solid #e8cc17;
}
#triangle12 {
position: absolute;
float: left;
margin-top: 330px;
margin-left: 280px;
font-size: 0px; line-height: 0%; width: 0px;
border-radius: 0%;
border-bottom: 30px solid #e8cc17;
border-top: 30px solid black;
border-left: 30px solid #e8cc17;
}

#headerFont {
		margin-top: 0px;
		margin-left: 10px;
		font-weight: bold;
		font-family: Verdana, sans-serif;
		color: #FFDD04;
		font-size: 55px;
}

#header {
	font-family: Verdana, sans-serif;
	height: 75px;
	width: 1400px;
	background-color: black;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
}
.left {
	font-family: Verdana, sans-serif;
  margin-top: 80px;
	height: 350px;
	width: 170px;
	background-color: #B9D7D9;
	float: left;
}
.right {
  margin-top: 80px;
  margin-right: 25px;
	height: 350px;
	width: 1214px;
	background-color: #e8cc17;
	float: right;
}
#footer {
	font-family: Verdana, sans-serif;
	position: absolute;
  bottom: 186;
  right: 31;
	height: 75px;
	width: 1400px;
	background-color: #F0ADE8;
	clear: both;
	font-size: 25px;
	font-weight: bold;
}
h1 {
    margin: 5px;
}
h3 {
		margin-left: 10px;
}
h2 {
		margin-left: 10px;
}
p {
		margin-left: 10px;
}
#about_me {
		font-family: sans-serif;
}
input {
		border-radius: 3px;
    border: 0;
    color: black;
    padding: 12px;
    font-size: 18px;
}

input[type = "submit"] {
    background: rgb(106, 178, 30);
    color: black;
}
a:hover {
	font-weight: bold;
	font-size: 17px;
	text-shadow: 2px 2px 18px grey;
}
a {
	width: 40px;
	transition: font-size .5s, text-shadow 1s;
	text-decoration: none;
	color: #FC921A;
}
a:visited {
	text-decoration: none;
}
