.clear {
  clear: both;
  z-index: 100;
}

#monsterHealth {
  float: left;
  position: absolute;
  background-color: grey;
  color: black;
  height: 50px;
}

@-webkit-keyframes healthAppear {
    0%   {width: 200;}
    33%  {width: 300;}
    66% {width: 400;}
    100% {width: 300;}
}

@-webkit-keyframes healthFade {
    0%   {width: 300;}
    33%  {width: 400;}
    66% {width: 200;}
    100% {width: 0;}
}
#upgradesBox {
  /*border-radius: 5%;*/
  top: 10px;
  left: 10px;
  float: left;
  position: absolute;
  border-top: 100px solid rgb(0, 25, 50);
	border-right: 50px solid transparent;
	height: 0;
	width: 150px;
  /*background-color: rgb(0, 25, 50);*/
}
